// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    &:hover {
      background-color: rgb(25, 118, 240);
    }

    @include easeOut;
  }

  // Rotate Menu
  &.close {
    transform: rotate(-180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.8);
    list-style: none;
    transform: translate3d(100%, 0, 0);
    @include easeOut;

    &.show {
      //slide from right
      transform: translate3d(0, 0, 0);
    }
  }

  // Brand
  &-branding {
    background: rgba($primary-color, 0.8);
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &.show {
      //slide from left
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 300px;
      height: 300px;
      background: url(../img/headshot.jpg);

      background-size: center;
      background-size: 120%;
      background-position-x: -30px;
      background-position-y: -140px;
      border-radius: 50%;
      border: solid 3px #fff;
      &:hover {
        border-color: rgb(25, 118, 240);
      }
    }
  }

  .nav-item {
    transform: translate3d(0px, 0, 0);
    @include easeOut;

    &.show {
      //slide from left
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 1 rem 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: rgb(25, 118, 240);
    }
  }
}
